@import "../../styles/variables";

// .pop-up-buy-wrapper{
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
// }

.pop-up-buy {
  width: 311px;

  border: 1px solid black;
  border-radius: 15px;
  padding: 32px 24px;
  margin: auto;
}

.buy-form-header {
  width: max-content;
  margin: auto;
  margin-bottom: 32px;
}

// .buy-form {
// }

.radio-choices {
  margin-bottom: 32px;
}
.choice {
  width: 263px;
  height: 85px;
  margin-bottom: 16px;

  border-radius: 15px;

  input[type="radio"] {
    display: none;
  }

  label {
    display: block;
    height: 100%;
    width: 100%;

    background: white;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;

    padding: 8px 16px;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  input[type="radio"]:checked + label {
    background: $orange-color;
  }
}

.chocolate-weight {
  width: max-content;
  font-weight: $bold-weight;
  padding: 6px 16px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background: $whet-color;
}

.personal-info-item {
  margin-bottom: 18px;

  input[type="text"],
  .textarea-comment {
    width: 100%;
    padding: 14px 18px;
    border: 1px solid rgba(64, 64, 64, 0.3);
    border-radius: 8px;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    &::placeholder {
      color: rgba(64, 64, 64, 0.3);
    }
  }
  .textarea-comment {
    height: 91px;
    resize: none;
  }
}

.input-text-label {
  display: inline-block;
  color: $black-color;
  font-size: 12px;
  font-weight: $medium-weight;

  margin-bottom: 8px;
}
