@import "../../styles/variables";

.ingredients-section {
  margin-top: 72px;
}

.ingredients-head {
  max-width: 486px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.ingredients-header,
.orange-text {
  font-weight: $bold-weight;
  font-size: 20px;
}
.ingredients-header {
  width: 283px;
  margin: auto;
  margin-bottom: 24px;
}

.orange-text {
  color: $orange-color;
}

@media screen and (min-width: $md) {
  .ingredients-header {
    width: 411px;
  }
  .ingredients-header,
  .orange-text {
    font-size: 24px;
  }
}
