@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black-color;
  font-weight: $regular-weight;
  font-size: 14px;
}
body {
  font-family: "Montserrat", sans-serif;
  background: $white-color;
}

.container {
  margin: auto;
  max-width: $lg;
  padding: 0 20px;
}
.instagram-logo {
  margin-right: 18px;
}
.instagram-logo,
.twitter-logo {
  height: 24px;
}

.common-button {
  height: 41px;
  color: $white-color;
  border-radius: 100px;
  text-align: center;
  font-weight: $bold-weight;
}

.orange-button {
  width: 120px;
  background: $orange-color;
  border: none;
  &:hover {
    background: #fcf1e0;
    color: $orange-color;
  }
}
.clear-button {
  width: 159px;
  background: none;
  border: 1px solid white;
  &:hover {
    color: $orange-color;
    border: 1px solid $orange-color;
  }
}

.review-button {
  width: 222px;
}
.subscribe-button {
  width: 172px;
}

.banner-scroll {
  display: flex;
}

.common-header {
  margin: auto;
}

.common-header,
.orange-text {
  font-weight: $bold-weight;
  font-size: 20px;
}
.orange-text {
  color: $orange-color;
}

@media screen and (min-width: $md) {
  .common-header,
  .orange-text {
    font-size: 24px;
  }
}
