@import "../../styles/variables";

.header {
  margin: 20px auto 14px auto;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-link {
  height: 22px;
}

.header-nav,
.header-socials {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header-nav,
  .header-socials {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  height: 100%;
  list-style-type: none;
}
.header-nav-item {
  margin-left: 24px;
}

.header-nav-link,
.menu-nav-link {
  text-decoration: none;
  font-weight: $medium-weight;

  &:hover {
    color: $orange-color;
  }
}
.header-burger {
  cursor: pointer;

  stroke: black;
}

/*aside menu styles*/

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #1e1823;
  transition: all 0.5s ease;
  overflow: auto;
}

.menu-close {
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  margin: 20px;
  stroke: white;
}
@media screen and (min-width: 1024px) {
  .header-burger {
    display: none;
  }
}
.menu-nav {
  list-style-type: none;
  width: max-content;
  margin: 136px auto 0 auto;
  text-align: center;
}
.menu-nav-item {
  margin-bottom: 24px;
}
.menu-nav-link {
  color: $white-color;
}
.menu-socials {
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.instagram-logo,
.twitter-logo {
  svg {
    &:hover {
      stroke: $orange-color;
    }
  }
}
