@import "../../styles/variables";

.benefits-section {
  margin-top: 72px;
  background: $dark-purple-color;

  .benefits-icon {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }

  .benefits-wrapper {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .benefits-item {
    width: 308px;
    margin-bottom: 20px;
    padding-right: 28px;
    position: relative;

    &:nth-child(n) {
      &::after {
        content: "";
        position: absolute;
        top: 25%;
        right: 0;
        width: 1px;
        background: white;
        height: 50%;
      }
    }
    &:last-child {
      &::after {
        content: none;
      }
    }
  }

  .benefits-text,
  .benefits-header {
    color: $white-color;
  }

  .benefits-header {
    font-size: 18px;
    font-weight: $bold-weight;
    margin: 22px 0 18px 0;
  }
}

@media screen and (max-width: $lg) {
  .benefits-section {
    .benefits-item {
      border-right: none;
    }
  }
}
